{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container is-fullwidth is-widescreen page-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        {{> content_sidebar }}

        <article class="column content content-docs content-docs-wide">
            <section id="type">
                <h1 class="blog-post-title border-bottom">{{page.head.title}}</h1>

                {{{page.body}}}

            </section>

            <blockquote class="footer-ctas">
                <blockquote>
                    <p><strong>Questions?</strong> Join <a href="https://discord.gg/AAFNfS7NGf" target="_blank">our Discord server</a> to discuss this project and connect with our team &mdash; or sign up to <a href="https://www.fermyon.com/about/#cta" target="_blank">become an Insider</a>, for announcements and early access invitations.
                    </p>
                </blockquote>
            </blockquote>
        </article>

    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>
</html>
